//sidebar
$menuText:#bfcbd9;
//$menuText:#FFFCF2;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

//$menuBg:#304156;
$menuBg:#B52E31;

//$menuHover:#263445;
$menuHover:#304156;


//$subMenuBg:#1f2d3d;
$subMenuBg:#304156;

$subMenuHover:#001528;
//$subMenuHover:#252525;


$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
